@using Day6Mydemo.Repositories.Interfaces
@inject IDepartmentRepository departmentRepository

<h1>Index</h1>
<h1>Life Time from CTOR : @ViewBag.LifeTime</h1>
<h1>Life Time from CTOR : @departmentRepository.lifetime</h1>